<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Turtlify"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDvUj4LCCwl5BtM-rOLKaVTi5B49BkP6u4" />

        <activity
            android:name=".ui.report.LocationSelectorActivity"
            android:exported="false"
            android:label="@string/title_activity_location_selector" />
        <activity
            android:name=".ui.encyclopediadetail.EncyclopediaDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homescreen.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Turtlify.MySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.settings.SettingsActivity"/>
        <activity android:name=".ui.faq.FaqActivity"/>
        <activity android:name=".ui.suggestion.SuggestionActivity"/>
        <activity android:name=".ui.about.AboutActivity"/>
        <activity android:name=".ui.maps.MapsActivity"/>
        <activity android:name=".ui.identifier.IdentifierActivity"/>
        <activity android:name=".ui.instruction.InstructionActivity"/>
        <activity android:name=".ui.encyclopedia.EncyclopediaActivity"/>
        <activity android:name=".ui.news.NewsDetailActivity"/>
        <activity android:name=".ui.search.SearchActivity"/>

        <service android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>
            <meta-data android:name="photopicker_activity:0:required" android:value="" />
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>